#topline{
background-color:#1F1F1F;
height:30px;
width:100%;
color:red;
}
body{
background-color:white;
}
#middle
{

height:5000px;
width:70%;
margin:0px auto;
}
#header
{
background-color:white;
height:100px;
width:100%;
}
#header img
{
height:90px;
width:20%
}
#header ul
{
float:right;
margin-top:30px;
}
#header ul li
{
display:inline;
margin-right:30px;
}
#header ul li a
{
color:black;
text-decoration:none;
font-size:18px;
}
#banner 
{
padding-bottom:20px;
margin-bottom:20px;
height:300px;
width:100%;
text-align:center;
}
#banner 
{
background-image:url("../images/bridge.jpg");
height:400px;
width:100%;
}

#table1
{
width:30%;
height:350px;
background-color:#ADD8E6;
float:left;
margin-right:5%;
font-color:black;
}
#table2
{
width:30%;
height:350px;
background-color:#90EE90;
float:left;
}
#table3
{
width:30%;
height:350px;
background-color:#F4C2C2;
float:right;
}
.first
{
color:white;
margin-left:30px;
}
.para1
{
color:white;
margin-left:20px;
margin-right:5px;
font-size:18px;
}
.button
{
text-decoration:none;
color:black;
background-color:white;
padding:8px;
margin-left:20px;
}
#letters1
{
margin-top:15px;
width:60%;
background-color:white;
height:300px;
float:left;
}
#letters2
{
margin-top:15px;
width:40%;
background-color:#CBC3E3;
height:300px;
float:right;
text-align:center;
}
#letters1
{
color:black;

}
#letters2
{
color:black;

}
#letters2 img
{
height:200px;
width:70%;
<a href="#Gallery">Read More...</a>

}

#gallery
{
text-align:center;
clear:both;
margin-top:50px;
padding:20px;
}
#photos1 img
{
padding:10px;
height:400px;
width:70%;
border:0px solid black;
display:block;
margin-left:auto;
margin-right:auto;
}
#photos2 img
{
padding:10px;
height:400px;
width:70%;
border:0px solid black;
display:block;
margin-left:auto;
margin-right:auto;
}
#photos3 img
{
padding:10px;
height:400px;
width:70%;
border:0px solid black;
display:block;
margin-left:auto;
margin-right:auto;
}
#photos4 img
{
padding:10px;
height:400px;
width:70%;
border:0px solid black;
display:block;
margin-left:auto;
margin-right:auto;
}

#video1
{
border:0px solid black;
padding:15px;
text-align:center;
}
#video2
{
border:0px solid black;
padding:15px;
text-align:center;
}
#video3
{
border:0px solid black;
padding:20px;
text-align:center;
}
#contact
{
width:30%;
height:350px;
margin-top:10px;
border:1px solid red;
height:400px;
width:100%;
text-align:center;

}
#address
{
text-align:center;
}
#book
{
padding:10px;
}
#last
{
padding:20px;
background-color:black;
height:80px;
width:100%;
clear:both;

}
#last ul 
{
font-color:white;
float:left;
margin-top:30px;
text-align:center;
}
#last ul li
{
font-color:white;
display:inline;
margin-left:50px;
text-align:center;
}
#last ul li a
{
color:white;
text-decoration:none;
font-size:18px;
}
